@model List<Product>

@{
    int count = 0;
    int sizecount = 0;
    int colorcount = 0;
    int materialcount = 0;
}
<div class="container" style="background-color:white">
    <div class="d-flex" style="justify-content:space-between;align-items:center">
        <h1>Products</h1>
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create</a>

    </div>
    <span style="color:red">@TempData["Error"]</span>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>              
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Colors</th>
                <th scope="col">Sizes</th>
                <th scope="col">Materials</th>
                <th scope="col">MainPhoto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>

                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    
                    <td>@item.Price</td>
                    <td>@item.category.Name</td>
                    <td>
                        @foreach (var pt in item.Color)
                        {
                            colorcount++;
                            @pt.color.color

                            @(item.Color.Count == colorcount ? "" : ", ")
                        }
                        @{
                            colorcount = 0;
                        }
                    </td>

                    <td>
                        @foreach (var pt in item.Sizes)
                        {
                            colorcount++;
                            @pt.Size.sizename

                            @(item.Sizes.Count == sizecount ? "" : ", ")
                        }
                        @{
                            sizecount = 0;
                        }
                    </td>
                    <td style="color:white">
                        @foreach (var pt in item.Materials)
                        {
                            materialcount++;
                            @pt.material.materialName

                            @(item.Materials.Count == materialcount ? "" : ", ")
                        }
                        @{
                            materialcount = 0;
                        }
                    </td>
                    <td>
                        <div style="width:100px">
                            <img width="100%" src="~/Upload/Product/@item.Images.FirstOrDefault()?.ImgUrl">
                        </div>
                    </td>

                    <td>
                        <a class="btn btn-warning" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-danger item-delete" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>